# THIS FILE IS MANAGED BY ANSIBLE, ALL CHANGES WILL BE LOST

account default
logfile /var/log/msmtp.log
host {{ vhost_bx_msmtp.host }}
port {{ vhost_bx_msmtp.port }}
from {{ vhost_bx_msmtp.from|d('no_reply@' ~ item.name|regex_replace('.' ~ vhost_default_ddns_zone ~ '$', '')) }}
keepbcc on
auth on
user {{ vhost_bx_msmtp.user }}
password {{ vhost_bx_msmtp.pass }}
tls on
tls_certcheck off
tls_starttls on
