# THIS FILE IS MANAGED BY ANSIBLE, ALL CHANGES WILL BE LOST
{{ item.user|d(item.name) }} ALL=(ALL) NOPASSWD: /usr/bin/systemctl start node-nuxt-frontend@{{ item.user|d(item.name) }}.service
{{ item.user|d(item.name) }} ALL=(ALL) NOPASSWD: /usr/bin/systemctl stop node-nuxt-frontend@{{ item.user|d(item.name) }}.service
{{ item.user|d(item.name) }} ALL=(ALL) NOPASSWD: /usr/bin/systemctl restart node-nuxt-frontend@{{ item.user|d(item.name) }}.service
{{ item.user|d(item.name) }} ALL=(ALL) NOPASSWD: /usr/bin/systemctl status node-nuxt-frontend@{{ item.user|d(item.name) }}.service
