# {{ ansible_managed }}

account default
logfile /var/log/msmtp.log
host {{ bx_msmtp_host }}
port {{ bx_msmtp_port }}
{% if alien %}
from {{ bx_msmtp_user }}
{% else %}
from no_reply@{{ ansible_fqdn }}
{% endif %}
keepbcc on
auth on
user {{ bx_msmtp_user }}
password {{ bx_msmtp_pass }}
tls on
tls_certcheck off
