# THIS FILE IS MANAGED BY ANSIBLE, ALL CHANGES WILL BE LOST

account default
logfile /var/log/msmtp.log
host {{ bx_msmtp_host }}
port {{ bx_msmtp_port }}
{% if alien %}
from {{ bx_msmtp_user }}
{% else %}
{% if 'deff' in ansible_domain %}
from no_reply@{{ bx_msmtp_domain|default(ansible_fqdn) }}
{% else %}
from no_reply@{{ bx_msmtp_domain|default(ansible_fqdn|regex_replace('^([-a-zA-Z0-9]+).*(\.[a-zA-Z]+)$', '\\1\\2')) }}
{% endif %}
{% endif %}
keepbcc on
auth on
user {{ bx_msmtp_user }}
password {{ bx_msmtp_pass }}
tls on
tls_certcheck off
