
module role-common 2.8;

require {
	type bacula_t;
	type http_port_t;
        type kernel_t;
        type kmsg_device_t;
	type shadow_t;
	type snmpd_t;
	type sysctl_net_t;
        class chr_file { read open };
	class dir search;
	class file { read open getattr };
	class tcp_socket name_connect;
        class system syslog_read;
}

#============= snmpd_t ==============

#!!!! This avc can be allowed using the boolean 'allow_ypbind'
allow snmpd_t http_port_t:tcp_socket name_connect;
allow snmpd_t shadow_t:file { read open getattr };

#============= snmpd_t ==============

allow snmpd_t kernel_t:system syslog_read;
allow snmpd_t kmsg_device_t:chr_file { read open };

#============= bacula_t ==============

allow bacula_t sysctl_net_t:dir search;
allow bacula_t sysctl_net_t:file { read open getattr };

