# THIS FILE IS MANAGED BY ANSIBLE, ALL CHANGES WILL BE LOST
#
acl inet src all

acl SSL_ports port 443
acl Safe_ports port 80		# http
acl Safe_ports port 81		# http
acl Safe_ports port 88		# http
acl Safe_ports port 21		# ftp
acl Safe_ports port 443		# https
acl Safe_ports port 70		# gopher
acl Safe_ports port 210		# wais
acl Safe_ports port 1025-65535	# unregistered ports
acl Safe_ports port 280		# http-mgmt
acl Safe_ports port 488		# gss-http
acl Safe_ports port 591		# filemaker
acl Safe_ports port 777		# multiling http
acl CONNECT method CONNECT

#
# Deny requests to certain unsafe ports
http_access deny !Safe_ports

# Deny CONNECT to other than secure SSL ports
http_access deny CONNECT !SSL_ports

# Only allow cachemgr access from localhost
# http_access allow localhost manager
# http_access deny manager

# We strongly recommend the following be uncommented to protect innocent
# web applications running on the proxy server who think the only
# one who can access services on "localhost" is a local user
# http_access deny to_localhost

http_access allow inet

# And finally deny all other access to this proxy
http_access deny all

# Squid normally listens to port 3128
http_port 3128

# Uncomment and adjust the following to add a disk cache directory.
#cache_dir ufs /var/spool/squid 100 16 256

# Leave coredumps in the first cache dir
coredump_dir /var/spool/squid

#
# Add any of your own refresh_pattern entries above these.
#
refresh_pattern ^ftp:		1440	20%	10080
refresh_pattern ^gopher:	1440	0%	1440
refresh_pattern -i (/cgi-bin/|\?) 0	0%	0
refresh_pattern .		0	20%	4320

# всякая хуйня
shutdown_lifetime 4 seconds
cache_mgr {{ squid_cache_mgr }}
dns_v4_first on
# security
httpd_suppress_version_string on
forwarded_for off
visible_hostname unknown

# Анонимный прокси
request_header_access Via deny all
request_header_access Proxy deny all
request_header_access X-Forwarded-For deny all

reply_header_access Via deny all
reply_header_access Proxy deny all
reply_header_access X-Forwarded-For deny all

# debug_options rotate=1 ALL,2

cachemgr_passwd none config offline_toggle reconfigure shutdown

dead_peer_timeout 4 seconds

# http://www.cyberciti.biz/faq/squid-proxy-server-running-out-filedescriptors/
max_filedesc 16384

### EOF ###
