DEVICE="{{ item.1.dev }}"
TYPE="Ethernet"
ONBOOT="yes"
BOOTPROTO="{{ item.1.bootproto|d('none') }}"
{% if item.1.bootproto|d('none') == "none" %}
IPADDR="{{ item.1.address|ipv4('address') }}"
PREFIX="{{ item.1.address|ipv4('prefix') }}"
{% if item.1.peer is defined %}
SCOPE="peer {{ item.1.peer }}"
{% endif %}
{% if item.1.gateway is defined %}
GATEWAY="{{ item.1.gateway }}"
{% endif %}
{% endif %}
