# THIS FILE IS MANAGED BY ANSIBLE, ALL CHANGES WILL BE LOST
{% set siteroot = vhost_basedir ~ '/' ~ item.user|d(item.name) ~ '/' ~ item.webroot|d('www') %}

<VirtualHost 127.0.0.1:8888>
	ServerAdmin webmaster@{{ item.name }}
	DocumentRoot {{ siteroot }}
	ServerName {{ item.name }}
	ServerAlias www.{{ item.name }}
{% if item.alias is defined %}
{% for name in item.alias %}
	ServerAlias {{ name }}
	ServerAlias www.{{ name }}
{% endfor %}
{% endif %}

{% include "bx/apache-vh.j2" %}
{% if item.bitrix_multisite is defined %}
{% for multi in item.bitrix_multisite %}
{% set siteroot = vhost_basedir ~ '/' ~ item.user|d(item.name) ~ '/' ~  multi.name|regex_replace('.' ~ vhost_default_ddns_zone ~ '$', '') %}

<VirtualHost 127.0.0.1:8888>
	ServerAdmin webmaster@{{ item.name }}
	DocumentRoot {{ siteroot }}
	ServerName {{ multi.name }}
	ServerAlias www.{{ multi.name }}

{% include "bx/apache-vh.j2" %}
{% endfor %}
{% endif %}
