# THIS FILE IS MANAGED BY ANSIBLE, ALL CHANGES WILL BE LOST
{% set server_name = op.idna|d()|ternary(op.name.encode('idna'), op.name) %}
{% set siteroot = vhost_basedir ~ '/' ~ op.user|d(op.name) ~ '/' ~ op.webroot|d('www') %}

server {

{% include "nginx/listen-plain.j2" %}
    server_name		{{ server_name }}
			www.{{ server_name }}
{% if op.alias is defined %}
{% for name in op.alias %}
			{{ name }}
			www.{{ name }}
{% endfor %}
{% endif %}
			;
{% if op.disabled|d() %}

    return		503;
{% endif %}
    server_name_in_redirect off;

    proxy_set_header	X-Real-IP        $remote_addr;
    proxy_set_header	X-Forwarded-For  $proxy_add_x_forwarded_for;
    proxy_set_header	Host $host:80;

    set $proxyserver	"http://127.0.0.1:8888";
    set $docroot	"{{ siteroot }}";

    index index.php;
    root {{ siteroot }};
{% include "nginx/logs.j2" %}

    # Redirect to ssl if need
    if (-f {{ siteroot }}/.htsecure) { rewrite ^(.*)$ https://$host$1 permanent; }

    # Include parameters common to all websites
    include bx/conf/bitrix.conf;
{% if op.crypto_le|d() %}

    include		include.d/letsencrypt.conf;
{% endif %}
}
{% if (op.crypto|d('none') != 'none' and not op.crypto_le|d()) or (op.crypto|d('none') != 'none' and op.crypto_le|d() and vhost_le_cert_exists|d()) %}

server {
{% include "nginx/listen-crypto.j2" %}
    server_name		{{ server_name }}
			www.{{ server_name }}
			;
{% if op.disabled|d() %}

    return		503;
{% endif %}
    # Enable SSL connection
    include		bx/conf/ssl.h;
{% include "nginx/ssl.j2" %}

    server_name_in_redirect	off;

    proxy_set_header	X-Real-IP	$remote_addr;
    proxy_set_header	X-Forwarded-For	$proxy_add_x_forwarded_for;
    proxy_set_header	Host		$host:443;
    proxy_set_header	HTTPS 		YES;

    set $proxyserver	"http://127.0.0.1:8888";
    set $docroot	"{{ siteroot }}";

    index index.php;
    root {{ siteroot }};
{% include "nginx/logs.j2" %}

    # Include parameters common to all websites
    include bx/conf/bitrix.conf;
{% if op.crypto_le|d() %}

    include		include.d/letsencrypt.conf;
{% endif %}
}
{% endif %}
{% if op.bitrix_multisite is defined %}
{% for multi in op.bitrix_multisite %}
{% set siteroot = vhost_basedir ~ '/' ~ op.user|d(op.name) ~ '/' ~  multi.name|regex_replace('.' ~ vhost_default_ddns_zone ~ '$', '') %}

server {

{% include "nginx/listen-plain.j2" %}
    server_name		{{ multi.name }}
			www.{{ multi.name }}
			;
{% if op.disabled|d() %}

    return		503;
{% endif %}
    server_name_in_redirect off;

    proxy_set_header	X-Real-IP        $remote_addr;
    proxy_set_header	X-Forwarded-For  $proxy_add_x_forwarded_for;
    proxy_set_header	Host $host:80;

    set $proxyserver	"http://127.0.0.1:8888";
    set $docroot	"{{ siteroot }}";

    index index.php;
    root {{ siteroot }};
{% include "nginx/logs.j2" %}

    # Redirect to ssl if need
    if (-f {{ siteroot }}/.htsecure) { rewrite ^(.*)$ https://$host$1 permanent; }

    # Include parameters common to all websites
    include bx/conf/bitrix.conf;
{% if op.crypto_le|d() %}

    include		include.d/letsencrypt.conf;
{% endif %}
}
{% if (multi.crypto|d('none') != 'none' and not op.crypto_le|d()) or (multi.crypto|d('none') != 'none' and op.crypto_le|d() and vhost_le_cert_exists|d()) %}

server {
{% include "nginx/listen-crypto.j2" %}
    server_name		{{ multi.name }}
			www.{{ multi.name }}
			;
{% if op.disabled|d() %}

    return		503;
{% endif %}
    # Enable SSL connection
    include		bx/conf/ssl.h;
{% include "bx/ssl-multi.j2" %}

    server_name_in_redirect	off;

    proxy_set_header	X-Real-IP	$remote_addr;
    proxy_set_header	X-Forwarded-For	$proxy_add_x_forwarded_for;
    proxy_set_header	Host		$host:443;
    proxy_set_header	HTTPS 		YES;

    set $proxyserver	"http://127.0.0.1:8888";
    set $docroot	"{{ siteroot }}";

    index index.php;
    root {{ siteroot }};
{% include "nginx/logs.j2" %}

    # Include parameters common to all websites
    include bx/conf/bitrix.conf;
{% if op.crypto_le|d() %}

    include		include.d/letsencrypt.conf;
{% endif %}
}
{% endif %}
{% endfor %}
{% endif %}
