# THIS FILE IS MANAGED BY ANSIBLE, ALL CHANGES WILL BE LOST
{% if vhost_backend == 'php-fpm' %}

upstream fpm{{ item.fpm.port }} {
    server		127.0.0.1:{{ item.fpm.port }};
}
{% endif %}

server {
{% include "nginx/listen-plain.j2" %}
    server_name		{{ item.name }}
			www.{{ item.name }}
{% if item.alias is defined %}
{% for name in item.alias %}
			{{ name }}
			www.{{ name }}
{% endfor %}
{% endif %}
			;
{% if item.crypto|d('none') == 'none' %}
{% include "nginx/default-d.j2" %}
{% endif %}
{% if item.crypto|d('none') == 'both' %}
{% include "nginx/default-d.j2" %}
{% endif %}
{% include "nginx/logs.j2" %}
{% if item.crypto|d('none') == 'redirect' %}

    return		301 https://{{ item.name }}$request_uri;
{% else %}
{% include "nginx/backend.j2" %}
{% endif %}
}
{% if item.crypto|d('none') != 'none' %}

server {
{% include "nginx/listen-crypto.j2" %}
    server_name		{{ item.name }}
			;
{% include "nginx/default-d.j2" %}
{% include "nginx/logs.j2" %}
{% include "nginx/ssl.j2" %}
{% include "nginx/backend.j2" %}
}

server {
{% include "nginx/listen-crypto.j2" %}
    server_name		www.{{ item.name }}
			;
{% include "nginx/logs.j2" %}
{% include "nginx/ssl.j2" %}

    return		301 https://{{ item.name }}$request_uri;
}
{% endif %}

{% if item.mobile|d() %}
{% set is_mobile = true %}
server {
{% include "nginx/listen-plain.j2" %}
    server_name		m.{{ item.name }}
			www.m.{{ item.name }}
			;
{% if item.crypto_mobile|d(item.crypto|d('none')) == 'none' %}
{% include "nginx/default-d.j2" %}
{% endif %}
{% if item.crypto_mobile|d(item.crypto|d('none')) == 'both' %}
{% include "nginx/default-d.j2" %}
{% endif %}
{% include "nginx/logs.j2" %}
{% if item.crypto_mobile|d(item.crypto|d('none')) == 'redirect' %}

    return		301 https://m.{{ item.name }}$request_uri;
{% else %}
{% include "nginx/backend.j2" %}
{% endif %}
}

{% if item.crypto_mobile|d(item.crypto|d('none')) != 'none' %}
server {
{% include "nginx/listen-crypto.j2" %}
    server_name		m.{{ item.name }}
			;
{% include "nginx/default-d.j2" %}
{% include "nginx/logs.j2" %}
{% include "nginx/ssl-mobile.j2" %}
{% include "nginx/backend.j2" %}
}

server {
{% include "nginx/listen-crypto.j2" %}
    server_name		www.m.{{ item.name }}
			;
{% include "nginx/logs.j2" %}
{% include "nginx/ssl-mobile.j2" %}

    return		301 https://m.{{ item.name }}$request_uri;
}
{% endif %}
{% endif %}
{% if item.nginx_http_snippet is defined %}
# SNIPPET BEGIN
{{ item.nginx_http_snippet }}
# SNIPPET END
{% endif %}
