/* THIS FILE IS MANAGED BY ANSIBLE, ALL CHANGES WILL BE LOST */
{% if item.crypto|d('none') == 'none' %}
    vars.www["{{ (item.webcheck|default(dict(fqdn=item.name)))['fqdn']|d(item.name) }}"] = {
{% else %}
    vars.www_tls["{{ (item.webcheck|default(dict(fqdn=item.name)))['fqdn']|d(item.name) }}"] = {
{% endif %}
        http_string = "{{ (item.webcheck|default(dict(content=vhost_default_content)))['content']|d(vhost_default_content) }}"
{% if item.webcheck is defined %}
{% if item.webcheck.url is defined %}
        http_url = "{{ item.webcheck.url }}"
{% endif %}
{% if item.webcheck.notify is defined %}
        notification_entity = "{{ item.webcheck.notify }}"
{% endif %}
{% endif %}
    }
{% if item.mobile|d() %}

{% if item.crypto_mobile|d(item.crypto|d('none')) == 'none' %}
    vars.www["{{ (item.webcheck|default(dict(fqdn_mobile="m." ~ item.name)))['fqdn_mobile']|d('m.' ~ item.name) }}"] = {
{% else %}
    vars.www_tls["{{ (item.webcheck|default(dict(fqdn_mobile="m." ~ item.name)))['fqdn_mobile']|d('m.' ~ item.name) }}"] = {
{% endif %}
        http_string = "{{ (item.webcheck|default(dict(content_mobile=vhost_default_content)))['content_mobile']|d(vhost_default_content) }}"
{% if item.webcheck is defined %}
{% if item.webcheck.url_mobile is defined %}
        http_url = "{{ item.webcheck.url_mobile }}"
{% elif item.webcheck.url is defined %}
        http_url = "{{ item.webcheck.url }}"
{% endif %}
{% if item.webcheck.notify is defined %}
        notification_entity = "{{ item.webcheck.notify }}"
{% endif %}
{% endif %}
    }
{% endif %}
/* EOF */
