#!/bin/bash
# THIS FILE IS ANSIBLE MANAGED
#
# Script for Redis cluster initialization
# Southbridge LLC, 2019 A.D.
#

set -o nounset
set -o pipefail

main() {

    trap 'except $LINENO' ERR

    local nodelist="$(pcs status nodes corosync | awk '/Online:/ { sub($1, ""); sub(/^\s+/, ""); print $0; exit }')"

    if [[ -z $nodelist ]]; then
	echo "nodelist is empty" >&2
	false
    fi

    pcs cluster cib REDIS_CFG

    pcs -f REDIS_CFG property set no-quorum-policy="stop"
    pcs -f REDIS_CFG property set stonith-enabled="false"
    pcs -f REDIS_CFG property set cluster-recheck-interval="60"
    pcs -f REDIS_CFG resource defaults resource-stickiness="INFINITY"
    pcs -f REDIS_CFG resource defaults migration-threshold="1"

{% set net_mask = ansible_default_ipv4.network ~ '/' ~ ansible_default_ipv4.netmask %}
    pcs -f REDIS_CFG resource create VADDR-REDIS ocf:heartbeat:IPaddr2 \
       ip="{{ redis_pcmk_vip['ip'] }}" \
       nic="{{ redis_pcmk_vip['nic']|d(ansible_default_ipv4['interface']) }}" \
       cidr_netmask="{{ redis_pcmk_vip['cidr_netmask']|d(net_mask|ipaddr('prefix')) }}" \
       meta migration-threshold="0" \
       op start   timeout="20s" interval="0"   on-fail="restart" \
       op monitor timeout="20s" interval="10s" on-fail="restart" \
       op stop    timeout="20s" interval="0"   on-fail="block"

    pcs -f REDIS_CFG resource create REDIS ocf:{{ redis_pcmk_ra_org }}:redis \
       config="/etc/redis.conf" \
       meta failure-timeout=120 \
       op start   timeout="120s" interval="0" on-fail="restart" \
       op monitor timeout="60s" interval="45s" on-fail="restart" \
       op monitor timeout="60s" interval="20s" on-fail="restart" role="Master" \
       op monitor timeout="60s" interval="60s" on-fail="restart" role="Slave" \
       op promote timeout="120s" interval="0" on-fail="restart" \
       op demote  timeout="120s" interval="0" on-fail="restart" \
       op stop    timeout="120s" interval="0" on-fail="block" \
       op notify  timeout="90s" interval="0"

    pcs -f REDIS_CFG resource master REDIS-MASTER REDIS \
       master-max=1 master-node-max=1 clone-max=3 clone-node-max=1 notify=true

    pcs -f REDIS_CFG resource group add REDIS-GROUP VADDR-REDIS

    pcs -f REDIS_CFG constraint colocation add REDIS-GROUP with Master REDIS-MASTER INFINITY
    pcs -f REDIS_CFG constraint order promote REDIS-MASTER then start REDIS-GROUP symmetrical=false score=INFINITY
    pcs -f REDIS_CFG constraint order demote  REDIS-MASTER then stop  REDIS-GROUP symmetrical=false score=0

    pcs cluster cib-push REDIS_CFG
}

except() {
    local ret=$?
    echo "* FATAL: error occured on line ${1:-UNKNOWN}"
    exit $ret
}

main
