# vim: ft=sh:
Include "/etc/awstats/awstats.conf"

LogFile="${BASEDIR}/${user}/log/${SITEROOT}nginx-access.log"
SiteDomain="${DOMAIN}"
HostAliases="www.${DOMAIN} m.${DOMAIN}"
DirData="/var/lib/awstats/${DOMAIN}"
CreateDirDataIfNotExists=1
