
    location ~* \.(jpg|jpeg|gif|png|css|eot|woff|svg|ttf|js|zip|tgz|gz|rar|bz2|doc|xls|exe|pdf|ppt|tar|wav|bmp|rtf|swf|ico|flv|txt|docx|xlsx)$ {
        root		{{ vhost_basedir }}/{{ op.user|d(op.name) }}/{{ op.webroot|d('www') }};
        index		{{ op.index|d('index.php') }};
        expires		30d;
    }

    location ~ /\.ht {
        deny		all;
    }

    location / {
        proxy_pass			http://127.0.0.1:{{ vhost_apache_port }};
{% include "nginx/proxy.j2" %}
    }

