{% if op.listen is defined %}
{% for home in op.listen %}
{% if home.ipaddr == 'all' %}
    listen		{{ home.port|d('443') }} ssl http2;
{% else %}
    listen		{{ home.ipaddr }}:{{ home.port|d('443') }} ssl http2;
{% endif %}
{% endfor %}
{% else %}
    listen		{{ vhost_default_ipaddr }}:443 ssl http2;
{% endif %}

