
{% if vhost_backend == 'reverse-proxy' or op.nginx_301_only is defined %}
    access_log		/var/log/nginx/{{ op.name }}-access.log combined
{%- if vhost_logbuffer == 'none' %}
;
{% else %}
 buffer={{ vhost_logbuffer }};
{% endif %}
    error_log		/var/log/nginx/{{ op.name }}-error.log;
{% else %}
    access_log		{{ vhost_basedir }}/{{ op.user|d(op.name) }}/log/nginx-access.log combined
{%- if vhost_logbuffer == 'none' %}
;
{% else %}
 buffer={{ vhost_logbuffer }};
{% endif %}
    error_log		{{ vhost_basedir }}/{{ op.user|d(op.name) }}/log/nginx-error.log;
{% endif %}
{% if op.disabled|d() %}

    return		503;
{% endif %}

