
{% if item.crypto_wildcard|d(false) %}
    ssl_certificate		/etc/pki/tls/certs/{{ item.name|regex_replace('^.*\.([-a-zA-Z0-9]+\.[a-zA-Z]+)$', '_\\1') }}.crt;
    ssl_certificate_key		/etc/pki/tls/private/{{ item.name|regex_replace('^.*\.([-a-zA-Z0-9]+\.[a-zA-Z]+)$', '_\\1') }}.key;
{% else %}
    ssl_certificate		/etc/pki/tls/certs/m.{{ item.name }}.crt;
    ssl_certificate_key		/etc/pki/tls/private/m.{{ item.name }}.key;
{% endif %}

