
    ssl_certificate		/etc/pki/tls/certs/{{ item.name }}.crt;
    ssl_certificate_key		/etc/pki/tls/private/{{ item.name }}.key;
    ssl_protocols		TLSv1 TLSv1.1 TLSv1.2;
    ssl_prefer_server_ciphers	on;

