# Laravel queue worker using systemd
# ----------------------------------
#
# run this command to enable service:
# systemctl enable {{ item.name|d('laravel-queue-worker') }}@<username>

[Unit]
Description=Laravel queue worker on %I ({{ item.description|d('default') }})
After=network.target

[Service]
User=%i
Group=%i
Restart=always
ExecStart=/usr/bin/php /var/www/%i/www/{{ item.artisan_path|d('artisan') }} {{ item.command|d('queue:work') }} {{ item.args|d('') }}
ExecReload=/usr/bin/php /var/www/%i/www/{{ item.artisan_path|d('artisan') }} queue:restart
KillMode=process

[Install]
WantedBy=multi-user.target
