local		all		postgres			peer
{% if pgbouncer_hba_line|length > 0 %}
{% for item in pgbouncer_hba_line %}
{{ item.type|d('host') }}		{{ item.database|d('sameuser') }}	{{ item.user }}		{{ item.address|d('') }}	{{ item.method|d('md5') }}
{% endfor %}
{% endif %}
{% if pgbouncer_config.unix_socket_dir|d('/var/run/pgbouncer') != 'none' %}
local		all		all				md5
{% endif %}
{% if pgbouncer_config.listen_addr is defined %}
host		all		all		127.0.0.1/32	md5
{% endif %}
