# THIS FILE IS MANAGED BY ANSIBLE, ALL CHANGES WILL BE LOST
object Host "{{ ansible_fqdn }}" {
    import "{{ common_icinga2_conf['host_main_template']|default('centos-host') }}"
{% if common_icinga2_conf['host_templates'] is defined %}
{% for item in common_icinga2_conf['host_templates'] %}
    import "{{ item }}"
{% endfor %}
{% endif %}
    address = "{{ common_icinga2_conf['ip_address']|default(common_ipv4_private) }}"
    display_name = "{{ common_icinga2_conf['display_name']|default(ansible_hostname) }}"
    vars.int_name = "{{ common_icinga2_conf['int_name']|default(ansible_default_ipv4['interface']) }}"
{% if (common_icinga2_conf.vars|d(dict(la_w='undefined')))['la_w']|d('undefined') == 'undefined' %}
    vars.la_w = "{{ ansible_processor_vcpus * 3 }},{{ ansible_processor_vcpus * 1.5 }},{{ ansible_processor_vcpus * 0.75 }}"
{% endif %}
{% if (common_icinga2_conf.vars|d(dict(la_c='undefined')))['la_c']|d('undefined') == 'undefined' %}
    vars.la_c = "{{ ansible_processor_vcpus * 6 }},{{ ansible_processor_vcpus * 3 }},{{ ansible_processor_vcpus * 1.5 }}"
{% endif %}
{% if alien and not alien_ptr_enable %}
    vars.nopasswd = 1
    vars.noconntrack = 1
{% endif %}
{% if common_icinga2_conf.vars is defined %}
{% for key, value in common_icinga2_conf.vars|dictsort %}
{% if value|regex_search('^([Tt]rue|[Ff]alse|\[.*\])$') %}
    vars.{{ key }} = {{ value }}
{% else %}
    vars.{{ key }} = "{{ value }}"
{% endif %}
{% endfor %}
{% endif %}
{% if common_icinga2_conf.freeform is defined %}
{{ common_icinga2_conf.freeform }}
{% endif %}
}
