# THIS FILE IS MANAGED BY ANSIBLE, ALL CHANGES WILL BE LOST
{% if postgresql_hba_tcp is defined and postgresql_hba_tcp|length > 0 %}
{% set postgresql_hba_tcp_addresses = [] %}
{% for item in postgresql_hba_tcp %}
{% set ignored = postgresql_hba_tcp_addresses.append( item.address ) %}
{% endfor %}
{% for address in postgresql_hba_tcp_addresses|unique %}
{% if address == 'all' %}
0.0.0.0/0
{% else %}
{{ address }}
{% endif %}
{% endfor %}
{% endif %}
