
module bitrix_main 2.1;

## Bitrix hardening
#
# !!! Increase VM RAM size up to 768 MB (at least)
# 

require {
    type httpd_t;
    type user_home_t;
    type home_root_t;
    type httpd_user_content_t;
    type user_cron_spool_t;
    type munin_t;
    class dir { getattr search };
# GUEST SFTP
    type httpd_sys_content_t;
    type httpd_sys_script_exec_t;
    type httpd_sys_rw_content_t;
    type httpd_munin_content_t;
    type httpd_munin_script_exec_t;
    type guest_t;
    class dir { read getattr open search write add_name remove_name create rmdir setattr };
    class lnk_file { read getattr };
    class file { write getattr setattr read create open rename unlink };
# HTTP PORT 8893
    type milter_port_t;
    class tcp_socket { name_bind };
}

#============= httpd_t ==============
allow httpd_t user_cron_spool_t:dir getattr;
allow httpd_t milter_port_t:tcp_socket name_bind;

#============= munin_t ==============
allow munin_t home_root_t:dir search;
allow munin_t httpd_user_content_t:dir { getattr search };

#============= guest_t ==============
allow guest_t httpd_sys_content_t:dir { read getattr open search write add_name remove_name create rmdir setattr };
allow guest_t httpd_sys_rw_content_t:dir { read getattr open search write add_name remove_name create rmdir setattr };
allow guest_t httpd_sys_script_exec_t:dir { read getattr open search write add_name remove_name create rmdir setattr };

allow guest_t httpd_sys_content_t:file { write create setattr rename unlink };
allow guest_t httpd_sys_content_t:lnk_file { read getattr };
allow guest_t httpd_sys_rw_content_t:file { write create setattr rename unlink };

allow guest_t httpd_munin_content_t:dir getattr;
allow guest_t httpd_munin_script_exec_t:file { read getattr open };
