# THIS FILE IS MANAGED BY ANSIBLE, ALL CHANGES WILL BE LOST

/var/www/{{ item.user|d(item.name) }}/www/app/tmp/logs {
    weekly
    missingok
    rotate 8
    compress
    notifempty
    nocreate
    su root apache
}
