# THIS FILE IS MANAGED BY ANSIBLE, ALL CHANGES WILL BE LOST
{% for item in docker_override %}
[{{ item.section }}]
{% for key, value in item.props|d({})|dictsort %}
{{ key|regex_replace('\\.\d+$', '') }}={{ value|d('') }}
{% endfor %}

{% endfor %}
