# Default website
server {
{% for item in ansible_all_ipv4_addresses %}
    listen {{ item }}:80 default_server;
{% endfor %}
    server_name _;
    server_name_in_redirect off;

    proxy_set_header	X-Real-IP        $remote_addr;
    proxy_set_header	X-Forwarded-For  $proxy_add_x_forwarded_for;
    proxy_set_header	Host $host:80;

    set $proxyserver	"http://127.0.0.1:8888";
    set $docroot	"/var/www/html";

    index index.php;
    root /var/www/html;

    # Redirect to ssl if need
    if (-f /var/www/html/.htsecure) { rewrite ^(.*)$ https://$host$1 permanent; }

    # Include parameters common to all websites
    include bx/conf/bitrix.conf;

    # Include server monitoring locations
    include bx/server_monitor.conf;
}

# Default SSL certificate enabled website
server {
{% for item in ansible_all_ipv4_addresses %}
    listen {{ item }}:443 default_server http2;
{% endfor %}
    server_name _;

    # Enable SSL connection
    include	bx/conf/ssl.conf;
    server_name_in_redirect	off;

    proxy_set_header	X-Real-IP	$remote_addr;
    proxy_set_header	X-Forwarded-For	$proxy_add_x_forwarded_for;
    proxy_set_header	Host		$host:443;
    proxy_set_header	HTTPS 		YES;

    set $proxyserver	"http://127.0.0.1:8888";
    set $docroot	"/var/www/html";

    index index.php;
    root /var/www/html;

    # Include parameters common to all websites
    include bx/conf/bitrix.conf;

    # Include server monitoring API's
    include bx/server_monitor.conf;

}
