    set $root_path	'{{ vhost_basedir }}/{{ op.user|d(op.name) }}/www';
    set $root_backend	'{{ vhost_basedir }}/{{ op.user|d(op.name) }}/www/backend/public';
    set $fpmport	{{ op.fpm.port }};
    set $nodeport	{{ op.nuxt.port }};
    root		$root_path;
    index		{{ op.index|d('index.php') }};
    charset		utf-8;

{% macro _header_nuxt_1() %}
{% if op.nginx_add_header.nuxt_1|d({ })|length > 0 %}

{% for key, value in nginx_add_header.nuxt_1|dictsort %}
	add_header	{{ key }} "{{ value }}";
{% endfor %}
{%- endif -%}
{%- endmacro %}
    location / {
	proxy_pass			http://node$nodeport;
{% include "nginx/proxy.j2" %}
{% if op.nginx_whitelist is defined and op.nginx_whitelist.context|d('server') == 'root' %}

{% for item in op.nginx_whitelist.allow %}
    allow		{{ item }};
{% endfor %}
    deny		all;

{% endif %}
{% if (op.nginx_auth_basic|default(dict(enable=false)))['enable']|d(false) %}
	auth_basic		"{{ op.nginx_auth_basic.string|d('Restricted') }}";
	auth_basic_user_file	"{{ op.nginx_auth_basic.user_file|d(vhost_default_htpasswd) }}";
{% endif %}
{{ _header_nuxt_1() }}
    }

    location ~ ^/(graphql|api|laravel|admin|nova) {
	root		$root_backend;
	try_files	$uri $uri/ /{{ op.index|d('index.php') }}?$args;
{{ _header_nuxt_1() }}
    }

    location ~ \.php$ {
	root				$root_backend;
	include				/etc/nginx/fastcgi_params;
	try_files			$uri =404;
	fastcgi_split_path_info		^(.+\.php)(/.+)$;
	fastcgi_intercept_errors	on;
	fastcgi_param			SCRIPT_FILENAME $document_root$fastcgi_script_name;
	fastcgi_pass			fpm$fpmport;
	fastcgi_buffer_size		16k;
	fastcgi_buffers			8 16k;
{% include "nginx/proxy.j2" %}
{{ _header_nuxt_1() }}
    }

    location ~ ^/_nuxt/(.*)$ {
	try_files /frontend/.nuxt/dist/client/$1 /frontend/dist/_nuxt/$1 =404;
	expires 120d;
	access_log off;
	log_not_found off;
{{ _header_nuxt_1() }}
    }

{% if op.nginx_static_location|d(True) %}

    location ~* \.(?:css(\.map)?|js(\.map)?|jpe?g|png|gif|ico|cur|heic|webp|tiff?|mp3|m4a|aac|ogg|midi?|wav|mp4|mov|webm|mpe?g|avi|ogv|flv|wmv|ttf|ttc|otf|eot|woff2?)$ {
	try_files	/frontend/dist$uri /frontend/static$uri /backend/public$uri =404;
	expires		1y;
	log_not_found	off;
    }
{% endif %}

    location ~ /\.(ht|svn|git) {
	deny		all;
    }

