#!/bin/bash
# THIS FILE IS ANSIBLE MANAGED
#
# Script for PostgreSQL cluster initialization
# source: https://wiki.clusterlabs.org/wiki/PgSQL_Replicated_Cluster
# Southbridge LLC, 2017-2019 A.D.
#

set -o nounset
set -o pipefail

main() {

    trap 'except $LINENO' ERR

    local nodelist="$(pcs status nodes corosync | awk '/Online:/ { sub($1, ""); sub(/^\s+/, ""); print $0; exit }')"

    if [[ -z $nodelist ]]; then
	echo "nodelist is empty" >&2
	false
    fi

    pcs cluster cib PGSQL_CFG

    pcs -f PGSQL_CFG property set no-quorum-policy="stop"
    pcs -f PGSQL_CFG property set stonith-enabled="false"
{% if postgresql_pcmk_rmlock_enable %}
    pcs -f PGSQL_CFG property set cluster-recheck-interval="60"
{% endif %}
    pcs -f PGSQL_CFG resource defaults resource-stickiness="INFINITY"
    pcs -f PGSQL_CFG resource defaults migration-threshold="1"

{% if postgresql_gcp_detect.stat.exists %}
    pcs -f PGSQL_CFG resource create VADDR-MAIN ocf:{{ postgresql_pcmk_ra_org }}:gcp-vpc-move-ip \
       ip="{{ postgresql_pcmk_ip_main }}" \
       vpc_network="{{ postgresql_pcmk_vpc_network }}" \
       route_name="pcmk-$(pcs status | awk '/Cluster name:/ { print tolower($3) }')-main" \
       meta migration-threshold="0" \
       op start   timeout="180s" interval="0s"  on-fail="restart" \
       op monitor timeout="55s"  interval="60s" on-fail="ignore" \
       op stop    timeout="180s" interval="0s"  on-fail="block"

{% if postgresql_pcmk_ip_repl is defined %}
    pcs -f PGSQL_CFG resource create VADDR-REPL ocf:{{ postgresql_pcmk_ra_org }}:gcp-vpc-move-ip \
       ip="{{ postgresql_pcmk_ip_repl }}" \
       vpc_network="{{ postgresql_pcmk_vpc_network }}" \
       route_name="pcmk-$(pcs status | awk '/Cluster name:/ { print tolower($3) }')-repl" \
       meta migration-threshold="0" \
       op start   timeout="180s" interval="0s"  on-fail="restart" \
       op monitor timeout="55s"  interval="60s" on-fail="ignore" \
       op stop    timeout="180s" interval="0s"  on-fail="block"
{% endif %}
{% else %}
    pcs -f PGSQL_CFG resource create VADDR-MAIN ocf:heartbeat:IPaddr2 \
       ip="{{ postgresql_pcmk_ip_main }}" \
       nic="{{ postgresql_pcmk_if_main|d(ansible_default_ipv4['interface']) }}" \
       cidr_netmask="24" \
       meta migration-threshold="0" \
       op start   timeout="60s" interval="0s"  on-fail="restart" \
       op monitor timeout="60s" interval="10s" on-fail="restart" \
       op stop    timeout="60s" interval="0s"  on-fail="block"

{% if postgresql_pcmk_ip_repl is defined %}
    pcs -f PGSQL_CFG resource create VADDR-REPL ocf:heartbeat:IPaddr2 \
       ip="{{ postgresql_pcmk_ip_repl }}" \
       nic="{{ postgresql_pcmk_if_repl|d(ansible_default_ipv4['interface']) }}" \
       cidr_netmask="24" \
       meta migration-threshold="0" \
       op start   timeout="60s" interval="0s"  on-fail="stop" \
       op monitor timeout="60s" interval="10s" on-fail="restart" \
       op stop    timeout="60s" interval="0s"  on-fail="ignore"
{% endif %}
{% endif %}

    pcs -f PGSQL_CFG resource create PGSQL ocf:{{ postgresql_pcmk_ra_org }}:pgsql \
       pgctl="/usr/pgsql-{{ postgresql_version_raw }}/bin/pg_ctl" \
       psql="/usr/pgsql-{{ postgresql_version_raw }}/bin/psql" \
       pgdata="/var/lib/pgsql/{{ postgresql_version_raw }}/data/" \
       rep_mode="async" \
{% if postgresql_walarchive|length > 0 %}
       restore_command='ssh {{ postgresql_walarchive.user|d('walarchive') }}@{{ postgresql_walarchive.server }} "cat {{ postgresql_walarchive.dir|d(ansible_nodename.split('.')[0]) }}/%f.bz2" | lbzip2 -d - > %p' \
{% else %}
       restore_command="cp /var/lib/pgsql/{{ postgresql_version_raw }}/pg_archive/%f %p" \
{% endif %}
       repuser="replicator" \
       primary_conninfo_opt="keepalives_idle=60 keepalives_interval=5 keepalives_count=5" \
       tmpdir="/var/lib/pgsql/{{ postgresql_version_raw }}/tmp" \
       master_ip="{{ postgresql_pcmk_ip_repl|d(postgresql_pcmk_ip_main) }}" \
       restart_on_promote='true' \
       check_wal_receiver='true' \
       node_list="$nodelist" \
{% if postgresql_pcmk_rmlock_enable %}
       meta failure-timeout=120 \
{% endif %}
       op start   timeout="60s" interval="0s" on-fail="restart" \
       op monitor timeout="60s" interval="4s" on-fail="restart" \
       op monitor timeout="60s" interval="3s" on-fail="restart" role="Master" \
       op promote timeout="60s" interval="0s" on-fail="restart" \
       op demote  timeout="60s" interval="0s" on-fail="stop" \
       op stop    timeout="60s" interval="0s" on-fail="block" \
       op notify  timeout="60s" interval="0s"

    pcs -f PGSQL_CFG resource master PG-MASTER PGSQL \
       master-max=1 master-node-max=1 clone-max=3 clone-node-max=1 notify=true

{% if postgresql_pcmk_ip_repl is defined %}
    pcs -f PGSQL_CFG resource group add MASTER-GROUP VADDR-MAIN VADDR-REPL
{% else %}
    pcs -f PGSQL_CFG resource group add MASTER-GROUP VADDR-MAIN
{% endif %}

    pcs -f PGSQL_CFG constraint colocation add MASTER-GROUP with Master PG-MASTER INFINITY
    pcs -f PGSQL_CFG constraint order promote PG-MASTER then start MASTER-GROUP symmetrical=false score=INFINITY
    pcs -f PGSQL_CFG constraint order demote  PG-MASTER then stop  MASTER-GROUP symmetrical=false score=0

    pcs cluster cib-push PGSQL_CFG
}

except() {
    local ret=$?
    echo "* FATAL: error occured on line ${1:-UNKNOWN}"
    exit $ret
}

main
